$monoFont : Consolas, monaco, monospace;
$font : 'Open Sans', sans-serif;

$linkCol: lightBlue;
$typesCol: purple;
$typeCol: blue;
$borderCol: lightGrey;

body {
  font: 100% $font;
}

.file{
  border: 1px solid lightgrey;
  padding: 1em;
  .filename {
    font-weight: bold;
    font: 100% $monoFont;
  }
  .file-details {
    margin-top: 1em;
    margin-left: 2em;
    .member-header {
      border-top: 1px dashed lightgrey;
      padding-top: 0.5em;
      .name {
        font: 85% $monoFont;
      }
    }

    .member-documentation {
    }
    .interface-caption {
      margin-bottom: 0.5em;
    }
    .interface-header {
      font: 85% $monoFont;
      margin-left: 1em;
      .type {
        color: $typeCol;
      }
    }
    .types {
      font: 85% $monoFont;
      margin-left: 1em;
      .name {
      }
    }
    .types :first-of-type {
      &::before {
        display: inline-block;
        padding-top: 1em;
        color: $typesCol;
        content: 'Type:';
        padding-right: 0.5em;
      }
    }

  }
}

code {
  font: 85% $monoFont;
  &:hover {
    color: $linkCol;
    text-decoration: underline;
    cursor: pointer;
  }
}
